//========== VARIABLES ==========
:root {
  /** COLORS **/
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(0, 0%, 94%);
  --dark-grayish-blue: #d8d8d8;
  --main: #503af5;
  --border-default: gray;
  --dark-red: #e02020;
  --yellow: #f7b500;
  --green: #6dd400;
  --font: #222428;
  --dark: #2f2f2f;
  --trimed-width: 83vw;
  --dark-text: #575757;
  --fade-text: rgba($color: #ffffff, $alpha: 0.8);
}
//========== RESETS ==========
*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
//========== TYPOGRAPHY ==========

html,
body,
main,
div,
span,
ul,
a,
p,
section,
article {
  color: white;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", "Century Gothic", Arial, Helvetica, sans-serif;
}
li {
  cursor: pointer;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--grayish-blue);
  position: relative;
  overflow-x: hidden;
}
