.accesories {
  &__container {
    width: 100%;
    height: 59vh;
    display: flex;
    align-items: center;
  }
  &__right {
    width: 60%;
    position: relative;
    overflow: hidden;
    height: 100%;
    &::before {
      content: "";
      width: 90%;
      position: absolute;
      z-index: 3;
      inset: 0 0 0 0;
      margin: auto;
      height: 90%;
      border: 5px solid var(--main);
    }
    img {
      object-fit: contain;
      object-position: bottom left;
      width: 2500px;
      height: 100%;
    }
  }
  &__left {
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 100%;
    div {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  &__bottom {
    height: 40%;
    width: 100%;
    position: relative;
    background: url(../assets/designs/aec.jpg);
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #503af5, $alpha: 0.7);
      inset: 0 0 0 0;
    }
  }
  &__top {
    display: flex;
    height: 60%;
    width: 100%;
    background-color: aqua;
    div:nth-child(2) {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      img {
        object-fit: cover;
      }
    }
  }
  &__images {
    background: linear-gradient(
      to right,
      #585858,
      #575757,
      #4d4d4d,
      #4a4a4a,
      #464646,
      #444444,
      #424242,
      #3d3d3d
    );
    .jack {
      object-fit: cover;
      object-position: left;
    }
    img:nth-child(2) {
      object-fit: contain;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.product {
  &__container {
    width: var(--trimed-width);
    height: 80vh;
    margin-left: auto;
    position: relative;
    background: url(../assets/designs/bars.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__text-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 59%;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba($color: black, $alpha: 0.7);
      position: absolute;
      inset: 0 0 0 0;
    }
  }
  &__text-left,
  &__text-right {
    display: flex;
    z-index: 3;
    flex-direction: column;
    padding-left: 3rem;
    justify-content: center;
    margin: auto;
    max-width: 40%;
    gap: 1rem;
    align-items: flex-start;
  }
  &__text-left {
    p {
      padding-top: 4rem;
    }
    h2 div {
      color: var(--main);
    }
  }
  &__text-right {
    button {
      margin-top: 3rem;
      padding: 0.4rem 1rem;
      background-color: var(--main);
      border: none;
      display: flex;
      gap: 1rem;
      // margin: auto;
    }
  }
  &__image-container {
    height: 60vh;
    width: 65%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -30vh;
    left: 0%;
    div {
      height: 50%;
      img {
        width: 50%;
        height: 100%;
        object-position: center;
        object-fit: cover;
      }
    }
  }
  &__image-box-container {
    width: 100%;
    display: flex;
    background-color: blueviolet;
    margin-left: auto;
    position: relative;
    img {
      position: absolute;
    }
    img:nth-child(2) {
      width: 30%;
      right: -30%;
    }
  }
}
