.description {
  &__container {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  &__right {
    width: 30%;
  }
  &__left,
  &__center {
    width: calc(70% / 2);
  }

  &__left {
    display: flex;
    flex-direction: column;
    &-top {
      background: url(../assets/designs/pexels-callum-hilton-7856680.jpg);
    }
    &-bottom {
      background: url(../assets/designs/pexels-philip-boakye-2614384.jpg);
    }

    &-top,
    &-bottom {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba($color: black, $alpha: 0.4);
        position: absolute;
        z-index: 4354;
        inset: 0 0 0 0;
      }
      mix-blend-mode: luminosity;
      height: 50%;
    }
  }
  &__right {
    position: relative;
    background: url(../assets/designs/pexels-daniel-balarezo-11199906.jpg);
    background-position: -275px 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      inset: 0 0 0 0;
      background: #30229e;
      opacity: 0.7;
    }

    .absolute {
      height: 70%;
      width: 70%;
      background: url(../assets/designs/cq5dam.jpeg);
      position: absolute;
      top: -20%;
      z-index: 45;
      left: 0%;
      background-position: -30px 0px;
      background-repeat: no-repeat;
      box-shadow: 1px 1px 15px rgba($color: #000000, $alpha: 0.2);
      background-size: cover;
    }
  }
  &__center {
    background-color: var(--main);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }
  &__text-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  &__img {
    height: 100%;
    width: 100px;
    background-color: white;
  }
  &__text-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-grow: 1;
    p {
      font-size: x-small;
    }
  }

  &__header {
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
    h1 {
      font-size: larger;
    }
    div {
      font-size: smaller;
    }
  }
}
