/* Slider */
.slider {
  max-width: 83vw;
  margin-top: -7rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  &__item-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  &__container {
    height: 360px;
    width: calc(83vw / 4);
    position: relative;
  }
  &__container:hover {
    transition: all 1s ease;
    .plus,
    button {
      visibility: visible;
    }
    .slider__img {
      mix-blend-mode: unset !important;
      &::before {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to bottom,
          rgba($color: blue, $alpha: 0.5),
          rgba($color: blue, $alpha: 0.5),
          rgba($color: rgb(247, 247, 247), $alpha: 0.4)
        );
        z-index: 3;
      }
      &::after {
        content: "Next";
        color: white;
        position: absolute;
        top: -14%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 0.5rem;
        height: 50px;
        font-size: 13px;
        z-index: 3;
        background-color: black;
      }
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    background: #161616;
    background-repeat: no-repeat;
    background-size: cover;
    &::before {
      content: "";
      position: absolute;
      inset: 0 0 0 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      z-index: 3;
    }
  }
  &__container:first-child &__img {
    background-image: url(../assets/designs/pexels-pavel-danilyuk-8001060.jpg);
    background-position: -220px -0px;
    mix-blend-mode: luminosity;
  }
  &__container:nth-child(2) &__img {
    background-image: url(../assets/designs/pexels-ardian-lutfi-9939409.jpg);
    background-position: -10px 50px;
    mix-blend-mode: luminosity;
  }
  &__container:nth-child(3) &__img {
    background-image: url(../assets/designs/pexels-sound-on-3756943.jpg);
    mix-blend-mode: luminosity;
  }
  &__container:nth-child(4) &__img {
    background-image: url(../assets/designs/pexels-caique-nascimento-1396538.jpg);
    background-position: center;
    mix-blend-mode: luminosity;
  }

  &__text {
    transition: all 1s ease;
    position: absolute;
    display: flex;
    flex-direction: column;
    inset: 0 0 0 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    padding: 1rem;
    background-color: transparent;
    .plus {
      margin-top: auto;
      padding-bottom: 1rem;
      margin-right: auto;
      color: white;
      visibility: hidden;
    }
    button {
      cursor: pointer;
      margin-right: auto;
      visibility: hidden;
      border: none;
      display: flex;
      position: relative;
      justify-content: flex-end;
      background-color: white;
      color: black;
      padding: 0.3rem 1rem;
      width: 100px;
      font-size: 11px;
      &::before {
        content: "";
        width: 10px;
        border: 1px solid black;
        position: absolute;
        left: 10%;
        top: 40%;
      }
    }
    div {
      font-family: "Century Gothic", Helvetica, sans-serif;
      font-weight: 700;
      font-size: 1.3rem;
    }
    p {
      font-size: 10px;
      color: rgba($color: #ffffff, $alpha: 0.6);
      padding: 0.4rem 0;
    }
  }

  /* Record Disc */

  .music {
    &__icon-container {
      background-color: var(--dark);
      width: 100%;
      position: relative;
    }
    &__nav-wrapper {
      display: flex;
      color: var(--dark-text);
      gap: 2.3rem;
      padding: 2.4rem 1.4rem;
      padding-bottom: 5rem;
      font-size: 0.9vw;
      align-items: center;
      li {
        position: relative;

        overflow: hidden;
        padding: 0.5rem 0;
        &::before {
          content: "";
          position: absolute;
          height: 2px;
          background: white;
          left: 0%;
          bottom: 0%;
          width: 50%;
          translate: -110% 0;
          transition: translate 300ms ease, color 300ms ease;
        }
        &:hover {
          color: white;
          position: relative;

          &::before {
            translate: 0% 0;
          }
        }
        &:last-child {
          margin-left: auto;
        }
      }
    }

    /* Record */
    &__record-section {
      position: relative;
      display: flex;
      margin-bottom: 9rem;
      width: 100%;
      .super__strong {
        width: 3.5vw;
        padding: 1.2rem;
        text-transform: uppercase;
        position: absolute;
        height: 30vh;
        font-size: 2rem;
        background-color: var(--main);
        z-index: 2;
        top: -7%;
        left: 0%;
      }
      .brand__text {
        text-decoration: wavy;
        color: var(--main);
        rotate: 90deg;
        padding: 0%;
        font-size: 12rem;
        position: absolute;
        right: -160px;
        top: 27vh;
      }
      .music__play-btn {
        position: absolute;
        inset: 0 0 0 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        &::before,
        &::after {
          content: "";
          position: absolute;
          inset: 0 0 0 0;
          margin: auto;
          border-radius: 100%;
        }
        &::after {
          width: 40px;
          height: 40px;
          background-color: var(--main);
        }
        &::before {
          background-color: rgba($color: #503af5, $alpha: 0.5);
          width: 50px;
          height: 50px;
        }
      }
      &::before {
        content: "";
        inset: 0 0 0 0;
        z-index: 4;
        position: absolute;
        width: 21.5vw;
        background: linear-gradient(
          to right,
          #585858,
          #575757,
          #4d4d4d,
          #4a4a4a,
          #464646,
          #444444,
          #424242,
          #3d3d3d
        );
        margin: auto;
        height: 21.5vw;
        border-radius: 100%;
      }
      &::after {
        content: "";
        inset: 0 0 0 0;
        z-index: 3;
        position: absolute;
        width: 22.6vw;
        background-color: rgba($color: #000000, $alpha: 0.8);
        margin: auto;
        border: 3px solid var(--main);
        height: 22.6vw;
        border-radius: 100%;
      }
      .music__concert {
        width: 84vw;
        height: 58vh;
        position: absolute;
        left: -7%;
        mix-blend-mode: luminosity;
        bottom: 27%;
        background-image: url(../assets/designs/pexels-mantas-hesthaven-354304.jpg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .disk__img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
          pointer-events: none;
          content: "";
          position: absolute;
          bottom: 2.5%;
          right: 28vw;
          width: 35%;
          z-index: 100;
          height: 1%;
          background: rgb(3, 3, 3);
          transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
          filter: blur(1em);
        }
        &::after {
          content: "";
          position: absolute;
          top: 0%;
          right: 0%;
          left: 0%;
          bottom: 0%;
          box-shadow: 0 0 2em 0.5em var(--cir-neon);
          background: var(--cir-neon);
          z-index: -1;
          opacity: 0;
          transition: opacity 100ms linear;
        }
        img {
          object-fit: contain;
          width: 80%;
          margin: auto;
        }
      }
      .disk__innerText {
        position: absolute;
        inset: 29vh 0 0 49vw;
        margin: auto;
        width: 20vw;
        display: flex;
        gap: 2rem;
        font-size: smaller;
        color: white;
        ::after {
          content: "";
          position: absolute;
          background-color: var(--main);
          width: 4vw;
          height: 25vh;
          z-index: 1000;
          margin: auto;
          inset: 45vh 5vw 0 0;
        }
        span {
          color: var(--main);
        }
      }
    }
  }
  .product {
    &__category {
      width: 100%;
      margin-top: -135px;
      display: flex;
    }
    &__grid {
      display: flex;
      width: 100%;
      flex-direction: column;
      .text {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        button {
          margin-top: 2rem;
          margin-right: auto;
          padding: 0.1rem 1rem;
        }
      }
    }
    &__cat-wrapper:nth-child(2) {
      height: 40vh;
    }
    &__cat-wrapper {
      display: flex;
      width: 100%;
      .music__player-img {
        width: 24vw;
        height: 100%;
        background-image: url(../assets/designs/pexels-nardo-3574678.jpg);
        background-position: bottom;
        mix-blend-mode: luminosity;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .product__soundbar {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        color: black;
        p {
          font-size: x-small;
          color: black;
        }
        div,
        h2 {
          color: black;
        }
        .soundbar__img img {
          width: 30vw;
        }
      }
      .soundbach__text {
        padding: 2rem;
        display: flex;
        font-size: large;
        gap: 1rem;
        position: relative;
        border-top: 0.1px solid rgba($color: gray, $alpha: 0.2);
        border-left: 0.1px solid rgba($color: gray, $alpha: 0.2);
        border-bottom: 0.1px solid rgba($color: gray, $alpha: 0.2);
        img {
          top: 0;
          margin-top: -2rem;
          right: 19vw;
          width: 350px;
        }
        p {
          font-size: x-small;
        }
        h2 {
          color: white;
        }
        div {
          color: black;
        }
      }
      .earbuds {
        border-top: 0.3px solid rgba($color: gray, $alpha: 0.2);
        border-left: 0.3px solid rgba($color: gray, $alpha: 0.2);
        border-bottom: 0.3px solid rgba($color: gray, $alpha: 0.2);
        position: relative;
        width: 24vw;
        padding: 2rem 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        img {
          margin-top: -2.4rem;
          rotate: -30deg;
          translate: 0px 0px;
          width: 24vw;
        }
      }
    }
  }
}
